<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.stream.streamit">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_new"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_new_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="nosensor"
            android:theme="@style/tabTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".YearInArtist"
            android:screenOrientation="nosensor"
            android:theme="@style/tabTheme" />
        <activity
            android:name=".ArtistInYear"
            android:screenOrientation="nosensor"
            android:theme="@style/tabTheme" />
        <activity
            android:name=".Favorite"
            android:screenOrientation="nosensor"
            android:theme="@style/tabTheme" />
        <activity
            android:name=".Search"
            android:screenOrientation="nosensor"
            android:theme="@style/tabTheme"
            android:windowSoftInputMode="stateAlwaysVisible" />

        <service android:name=".backgroundService.MediaService" />

        <receiver android:name="android.support.v4.media.session.MediaButtonReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".About"
            android:screenOrientation="nosensor"
            android:theme="@style/tabTheme"></activity>
    </application>

</manifest>